 .container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
  height: 88vh;
 }

 .input-area{
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 8px 8px 0 8px;
 }

  .output-area{
    width: 60%;
    position: relative;
  }

  .copyButton {
    position: absolute;
    width: 100px;
    height: 25px;
    top: 5px;
    right: 5px;
    padding: 5px;
    font-size: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .copyButton:hover {
    background-color: #0056b3;
  }

  .generateButton {
    background-color: #007bff; 
    color: white; 
    border: none; 
    border-radius: 10px; 
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.2s; 
  }
  
  .generateButton:hover {
    background-color: #0056b3; 
  }
  
  .generateButton:active {
    background-color: #004494; 
    transform: scale(0.98); 
  }
  
  .generateButton:focus {
    outline: none; 
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5); 
  }