/* .form-group {
  margin-bottom: 15px;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;

}

.generateButton {
  background-color: #007bff; 
  color: white; 
  border: none; 
  border-radius: 10px; 
  padding: 10px 20px; 
  font-size: 16px; 
  cursor: pointer; 
  transition: background-color 0.3s, transform 0.2s; 
  height: 70%;
}

.generateButton:hover {
  background-color: #0056b3; 
}

.generateButton:active {
  background-color: #004494; 
  transform: scale(0.98); 
}

.generateButton:focus {
  outline: none; 
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5); 
}


.text-areas{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  height: calc(100vh - 165px);
}

.left-fields{
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.right-fields{
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.text-area-group-item {
  margin-bottom: 20px;
  position: relative;
  display: inline-block;  flex-direction: column;
  align-items: center;
  height: 30%;
}

.text-area-group-lookup {
  margin-bottom: 20px;
  position: relative;
  display: inline-block;  flex-direction: column;
  align-items: center;
  height: 70%;
}

.text-area-group-controller {
  margin-bottom: 20px;
  position: relative;
  display: inline-block;  flex-direction: column;
  align-items: center;
  height: 100%;
}

.textareaItem {
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-size: 16px;
  margin-bottom: 10px;
  width: 40vw;
  padding-top: 30px;
}

.textareaLookup {
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-size: 16px;
  margin-bottom: 10px;
  width: 40vw;
  padding-top: 30px;

}

.textareaController {
  height: 100%;

  padding: 10px;
  box-sizing: border-box;
  font-size: 16px;
  margin-bottom: 10px;
  width: 40vw;
  padding-top: 30px;

}

.copyButton {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

  

.textareaItem {
  width: 40vw;
  padding-right: 40px; 
}

.copyButton {
  position: absolute;
  width: 100px;
  height: 25px;
  top: 5px;
  right: 5px;
  padding: 5px;
  font-size: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.copyButton:hover {
  background-color: #0056b3;
}

.options{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 18px;
  border-top: 1px solid gray;
  padding: 16px;
  border-bottom: 1px solid gray;
}

.validation-checkbox{
  height: 16px;
  width: 16px;
  margin-left: 12px; 
  vertical-align: middle; 
}

.radio-group {
  display: flex;
  gap: 30px; 
  align-items: center; 
  margin-inline: 20px;
}

.radio-item{
  display: flex;
  flex-direction: row;
  align-items: center;
}

 */


 .container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
  height: 88vh;
 }

 .input-area{
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 8px 8px 0 8px;
 }

  .output-area{
    width: 60%;
    position: relative;
  }

  .copyButton {
    position: absolute;
    width: 100px;
    height: 25px;
    top: 5px;
    right: 5px;
    padding: 5px;
    font-size: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .copyButton:hover {
    background-color: #0056b3;
  }

  .generateButton {
    background-color: #007bff; 
    color: white; 
    border: none; 
    border-radius: 10px; 
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.2s; 
  }
  
  .generateButton:hover {
    background-color: #0056b3; 
  }
  
  .generateButton:active {
    background-color: #004494; 
    transform: scale(0.98); 
  }
  
  .generateButton:focus {
    outline: none; 
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5); 
  }